<p id ="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
<h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>

   <table class="table">
            <tbody>
              <tr>
              <th>name</th>
              <th><%= @user.name %>
                  </th>
              </tr>
              <tr>
              <th>introduction</th>
              <th></th>
              </tr>
            </tbody>
          </table>
  
    <%= link_to edit_user_path(@user.id) ,class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog" aria-hidden="true"></i>
    <% end %>

 <h2>New Book</h2>
        <%= form_with model: @book, url: '/books', method: :post do |f| %>
        
        <form action="/books" accept-charset="UTF-8" method="post">
          <input type="hidden" name="authenticity_token" autocomplete="off">
          
          <div class="group">
            <label form ="book_title">Title</label>
            <input class="form-control book_title" type="text" name="book[title]" id="book_title">
          </div>
          
          <div class="group">
            <label for ="book_body">Opinion</label>
            <textarea class="form-control book_body" type="text" name="book[body]" id="book_body"></textarea>
          </div>

          <div class="group">
            <input type="submit" name="commit" value="Create Book" class="actions btn btn-sm btn-success" date-disable-with="Create Book">
          </div>

          </form>
        <% end %>
        </div>
  
   <div class="col-md-8 offset-md-1">
   <h2>Book ditail</h2>
        
       
        <table class="table">
         
          <tbody>
            
            <tr>
              <td><%= link_to user_path(@b_user) do %>
                  <%= image_tag @b_user.get_profile_image(100,100) %>
                  </br>
                  <%= @b_user.name %>
                  <% end %>
              </td>
              <td><%= link_to @book.title, book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              <td><%= link_to "Edit" , edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
              <td>
                  <%= link_to "Destroy", books_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
                  
              </td>
            </tr>
            
           
             
          </tbody>
        </table>
        
        
    </div>
    
    
    
    </div>
    </div>
  
  